* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', san-serif;
  box-sizing: border-box;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-header {
  background: url('./Component/Pictures/wallpapertouse.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  color: #ffffff;
}

.social-media a {
  color: #ffffff;
  font-size: 30px;
  margin-left: 0 10px;
  transition: 0.3s linear;
  text-decoration: none;
  padding: 20px;
}

.social-media a:hover {
  font-size: 25px;
  color: #183241;
}

.curriculum-vitae {
  margin-top: 30px;
}

.curriculum-vitae a {
  display: inline-block;
  border: 2px solid #ffffff;
  color: #ffffff;
  margin: 15px 30px;
  font-size: 20px;
  font-weight: 500;
  width: 200px;
  padding: 14px 0;
  border-radius: 8px;
  transition: 0.3s linear;
  text-decoration: none;
}

.curriculum-vitae a:hover {
  background-color: #ffffff;
  color: #183241;
}

.profile-pict {
  display: inline-block;
  padding: 8px;
  border-radius: 50%;
  margin: auto;
  background: linear-gradient(130deg, #e66767, #74b9ff);
  background-size: 200% 200%;
  animation: gradient 2s linear infinite;
}

.profile-pict img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
}

.profile-text {
  padding-left: 50px;
}

.profile-name {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
}

.profile-desc {
  color: #e66767;
  font-size: 20px;
  font-weight: 350;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #282c34;
}

::-webkit-scrollbar-thumb {
  background: rgb(69, 74, 88);
}
