@font-face {
    font-family: 'vampire_warsitalic';
    src: url('../Fonts/vampirewarsitalic.woff2') format('woff2'),
         url('../Fonts/vampirewarsitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}