*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

.navbar{
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
}

.inner-width{
    max-width: 13000px;
    margin: auto;
    padding: 0 40px;
}

.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding-left: 60px;
}

.logo span{
    background: linear-gradient(130deg, #e66767, #74b9ff);
    border-radius: 50%;
    padding: 10px;
    background-size: 200% 200%;
    animation: gradient 2s linear infinite;
}

.logo a{
    font-family: "vampire_warsitalic", sans-serif;
    color: #ffffff;
    padding-right: 5px;
    font-size: 20px;
    font-weight: 100;
}

.logo a:hover{
    color: #183241;
}

@keyframes gradient{
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
}

.menu-btn{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-btn span{
    display: block;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-menu{
    padding-right: 60px;
}

.navbar-menu a{
    color: #ffffff;
    font-size: 15px;
    font-weight: 600px;
    margin-left: 60px;
    transition: .2s linear;
}

.navbar-menu a:hover{
    color: #e66767;
}

#CV{
    height: 100vh;
    min-height: 500px;
    background: url('../Images/wallpaper.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#CV .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#CV .pictures{
    background: linear-gradient(130deg, #74b9ff, #e66767);
    background-size: 200% 200%;
    padding: 10px;
    border-radius: 50%;
    animation: gradient 2s linear infinite;
}

#CV .pictures img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#CV .profile-card{
    display: flex;
    align-items: center;
    background: #183241;
    padding: 25px;
    border-radius: 20px;
}

#CV .profile-card .profile-text{
    padding: 35px;
}

.profile-name{
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}

.profile-desc{
    color: #e66767;
    font-size: 20px;
    font-weight: 350;
}