*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

#CV{
    height: 100vh;
    min-height: 500px;
}

#Page{
    background: url('../Images/wallpaper.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#CV .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

/* Card Sections */
#CV .pictures{
    background: linear-gradient(130deg, #74b9ff, #e66767);
    background-size: 200% 200%;
    padding: 8px;
    border-radius: 50%;
    animation: gradient 2s linear infinite;
}

#CV .pictures img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

#CV .profile-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #183241;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
}

#CV .profile-card .profile-text{
    padding: 35px;
}

.profile-name{
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}

.profile-desc{
    color: #e66767;
    font-size: 20px;
    font-weight: 350;
}

/* Skills and Experiences */

#CV .side-by-side{
    display: flex;
    padding-top: 25px;
    align-items: center;
}

/* Skill Sections */

.skill-sections{
    align-items: center;
    text-align: left;
    display: flex;
}

.skill-sections .skill-header{
    color: #e66767;
    font-size: 15px;
    font-weight: 800;
    padding-right: 20px;
}

.skill-sections .skills{
    color: #ffffff;
    padding-bottom: 2px;
    font-size: 14px;
    padding-right: 20px;
}

.skill-sections .skill-percent{
    padding-right: 20px;
    color: #ffffff;
    padding-bottom: 2px;
    font-size: 14px;
}

@media screen and (max-width:980px){
    #CV .side-by-side{
        flex-direction: column;
    }

    .skill-sections{
        padding-bottom: 20px;
    }

    .skill-sections .skill-percent{
        padding-right: 0px;
    }
}