*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

.navbar{
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
}

.inner-width{
    max-width: 13000px;
    margin: auto;
    padding: 0 40px;
}

.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding-left: 60px;
}

.logo img{
    border-radius: 50%;
}

.logo img:hover{
    animation: logos 1s linear infinite;
}

@keyframes logos{
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.menu-btn{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-btn span{
    display: block;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-menu{
    padding-right: 60px;
}

.navbar-menu a{
    color: #ffffff;
    font-size: 15px;
    font-weight: 600px;
    margin-left: 60px;
    transition: .2s linear;
}

.navbar-menu a:hover{
    color: #e66767;
}

#Home{
    height: 100vh;
    min-height: 500px;
    background: url('../Images/wallpaper.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#Home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#Home .content{
    width: 100%;
    color: #ffffff;
}

#Home .content h1{
    font-size: 60px;
    margin-bottom: 60px;
    transition: .3s linear;
}

#Home .content h1::after{
    content: "";
    animation: textAnimations 5s linear infinite;
}

@keyframes textAnimations{
    5%{
        content: "K";
    }
    10%{
        content: "KR";
    }
    15%{
        content: "KRS";
    }
    20%{
        content: "KRSB";
    }
    25%{
        content: "KRSBX";
    }
    50%{
        content: "a";
    }
    55%{
        content: "a D";
    }
    60%{
        content: "a De";
    }
    65%{
        content: "a Dev";
    }
    70%{
        content: "a Deve";
    }
    75%{
        content: "a Devel";
    }
    80%{
        content: "a Develo";
    }
    85%{
        content: "a Develop";
    }
    90%{
        content: "a Develope";
    }
    95%{
        content: "a Developer";
    }
}

#Home .content h1:hover{
    color: #183241;
}

.social-media a{
    color: #ffffff;
    margin: 0 10px;
    font-size: 30px;
    margin-left: 0 10px;
    transition: .3s linear;
}

.social-media a:hover{
    font-size: 25px;
    color: #183241;
}

.circulum-vitae{
    margin-top: 30px;
}

.circulum-vitae a{
    display: inline-block;
    border: 2px solid #ffffff;
    color: #ffffff;
    margin: 15px 30px;
    font-size: 20px;
    font-weight: 500;
    width: 200px;
    padding: 14px 0;
    border-radius: 8px;
    transition: .3s linear;
}

.circulum-vitae a:hover{
    background-color: #ffffff;
    color: #183241;
}