*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

#Home{
    height: 100vh;
    min-height: 500px;
    background: url('../Images/wallpaper.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#Home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#Home .content{
    width: 100%;
    color: #ffffff;
}

#Home .content h1{
    font-size: 60px;
    margin-bottom: 60px;
    transition: .3s linear;
}

#Home .content h1:hover{
    color: #183241;
}

.social-media a{
    color: #ffffff;
    margin: 0 10px;
    font-size: 30px;
    margin-left: 0 10px;
    transition: .3s linear;
}

.social-media a:hover{
    font-size: 25px;
    color: #183241;
}

.curriculum-vitae{
    margin-top: 30px;
}

.curriculum-vitae a{
    display: inline-block;
    border: 2px solid #ffffff;
    color: #ffffff;
    margin: 15px 30px;
    font-size: 20px;
    font-weight: 500;
    width: 200px;
    padding: 14px 0;
    border-radius: 8px;
    transition: .3s linear;
}

.curriculum-vitae a:hover{
    background-color: #ffffff;
    color: #183241;
}