.navbar{
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
}

.inner-width{
    max-width: 13000px;
    margin: auto;
    padding: 0 40px;
}

.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding-left: 60px;
}

.logo span{
    background: linear-gradient(130deg, #e66767, #74b9ff);
    border-radius: 50%;
    padding: 10px;
    background-size: 200% 200%;
    animation: gradient 2s linear infinite;
}

.logo a{
    font-family: "vampire_warsitalic", sans-serif;
    color: #ffffff;
    padding-right: 5px;
    font-size: 20px;
    font-weight: 100;
}

.logo a:hover{
    color: #183241;
}

@keyframes gradient{
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
}

.menu-btn{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-btn span{
    display: block;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-menu{
    padding-right: 60px;
}

.navbar-menu a{
    color: #ffffff;
    font-size: 15px;
    font-weight: 600px;
    margin-left: 60px;
    transition: .2s linear;
}

.navbar-menu a:hover{
    color: #e66767;
}

@media screen and (max-width:980px){
    .menu-btn{
        display: block;
    }

    .navbar-menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #183241;
        top: 0;
        right: -100%;
        max-width: 480px;
        padding: 80px 50px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        transition: .3s linear;
    }

    .navbar-menu a{
        display: block;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin: 30px 0;
    }

    .navbar-menu.active{
        right: 0;
    }

    .menu-btn.active span:nth-child(1){
        transform: rotate(-45deg);
        top: 4px;
    }
    .menu-btn.active span:nth-child(2){
        opacity: 0;
    }
    .menu-btn.active span:nth-child(3){
        transform: rotate(45deg);
        bottom: 14px;
    }
}