.CV {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CV .profile-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #183241;
  margin: auto;
  padding: 25px;
  border-radius: 20px;
}

.skill-sections {
  margin-top: 20px;
}

.skill-header {
  color: #e66767;
  font-size: 15px;
  font-weight: 800;
}

.skill-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.skill-name {
  color: #ffffff;
  text-shadow: 1px 0px 10px #183241;
  font-size: 14px;
}

.skill-mastery {
  color: #ffffff;
  text-shadow: 1px 0px 10px #183241;
  font-size: 14px;
}

.dev-sections {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
}

.project-year {
  display: flex;
  margin-top: 0.5rem;
}

.dots {
  background: #ffffff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-top: 0.5rem;
  margin-right: 10px;
}

.year {
  text-shadow: 1px 0px 10px #183241;
}

.company {
  font-size: 15px;
  color: #74b9ff;
  text-shadow: 1px 0px 10px #183241;
  font-weight: 500;
}

.projects {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  padding-top: 5px;
}

.role {
  font-size: 15px;
  color: #e66767;
  padding-top: 5px;
  font-weight: 500;
}

.dev-history {
  min-width: 400px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-right: 10rem;
  margin-left: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ffffff;
}

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ffffff;
}
